<section class="section clients-section">
  <div class="container">
    <h2 class="clients-title">What Clients Say</h2>
    <p class="clients-subtitle">
      Problems trying to resolve the conflict between <br />
      the two major realms of Classical physics: Newtonian mechanics
    </p>
    <ul class="clients-list">
      <li class="clients-item">
        <p class="clients-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>

        <div class="clients-user-content">
          <img
            src="/img/clients-1.png"
            alt="Wahid Ari"
            width="50"
            height="50"
          />
          <div>
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </li>

      <li class="clients-item">
        <p class="clients-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>

        <div class="clients-user-content">
          <img
            src="/img/clients-1.png"
            alt="Wahid Ari"
            width="50"
            height="50"
          />
          <div>
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </li>

      <li class="clients-item">
        <p class="clients-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>

        <div class="clients-user-content">
          <img
            src="/img/clients-1.png"
            alt="Wahid Ari"
            width="50"
            height="50"
          />
          <div>
            <h3 class="clients-card-title">Wahid Ari</h3>
            <p class="clients-card-text">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
